@model IEnumerable<MVC.Models.UserPreviewModel>

@{
    ViewBag.Title = "Index";
}
<h2>Users:</h2>
@foreach (var item in Model)
{
    <div class="row">
        <p style="margin-left:20px">@Html.ActionLink(item.Name, "Index", "Album", new { id = item.Name }, null)</p>
        @foreach (var i in item.Photos)
        {
            @Html.Raw("<div class='col-xs-6 col-md-3'>" + 
                "<a href='/Album/Index/" + item.Name + "' class='photoLink thumbnail' style='padding:0px' id='" + i.Id
                + "'><img style='width:240px; height:240px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(i.Image) + "\" /></a></div>")
        }
    </div>
<div class="row">
    <div class="col-md-12">
        <p>@Html.ActionLink(item.Name, "Index", "Album", new { id = item.Name }, null)</p>
        @foreach (var i in item.Photos)
        {
            @Html.Raw("<a href='/Album/Index/" + item.Name + "' class='photoLink' id='" + i.Id
                + "'><img style='width:240px; height:240px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(i.Image) + "\" /></a>")
        }
    </div>
</div>
    <hr/>
}